.terminal {
    margin: 1rem;
    width: auto;
    height: 40rem;
    background-image: linear-gradient(45deg, var(--purple-500), var(--purple-600));
    border: 3px var(--purple-700) solid;
    border-radius: 10px;
}
.terminal--frame {
    display: block;
    margin: 2rem auto auto;
    width: 98%;
    height: 93%;
    background-color: var(--gray-900);
    border: var(--purple-700) 2px solid;
    border-radius: 5px;
}

.terminal--frame p {
    margin: 0;

}

.terminal--text {
    font-size: 1rem;
    text-indent: 1rem;
    color: white

}