.terminal {
    display: flex;
    margin: auto;
    width: 95%;
    height: auto;
    background-image: linear-gradient(45deg, var(--purple-500), var(--purple-600));
    border: 0.15rem var(--purple-700) solid;
    border-radius: 0.5rem 0.5rem 1rem 1rem ;
    alignment: right;
    justify-content: right;
}
.terminal--frame {
    margin: 1.5rem 0.1rem 0.09rem;
    width: 100%;
    height: auto;
    background-color: var(--gray-900);
    border: var(--purple-700) 0.1rem solid;
    border-radius: 0.25rem 0.25rem 0.8rem 0.8rem;
}

.terminal--close-btn {
    position: absolute;
    height: 1.5rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    color: var(--purple-700);
    font-size: 2rem;
    font-weight: bold;
}

.terminal--close-btn p {
    margin-top: -1.45rem;
}

.terminal--text {
    margin: 1rem;
    font-size: 1.4rem;
    color: white;
    text-shadow: var(--purple-500) 0.1rem 0.1rem;
}